RUNS
obj/
bin/
lib/
*.pdf
*.png
*.log
*.gif
*.fits
*.pyc
*.aux
analysis_tools/analyzed_cases/
analysis_tools/generated_tex_files/*
analysis_tools/movies/
analysis_tools/create_gridded_source
analysis_tools/ps.dat
documentation/index.html
scripts/report.txt
create_mock_lenses/addMachine/addmachine
create_mock_lenses/autoMask/automask
create_mock_lenses/FProject/fproject
create_mock_lenses/createPerturbations/kappa
plt_corner.paramnames
plt_corner.ranges
plt_corner.txt
