VKL_MODELS
obj/
bin/
lib/
*.pdf
*.png
*.log
*.gif
*.fits
*.pyc
*.aux
analysis_tools/finalize_scripts/analyzed_cases/
analysis_tools/finalize_scripts/create_gridded_source
analysis_tools/create_gridded_source
scripts/report.txt

